
/**
 * /-/-/-/-/-/-/-/-/-User Flairs-/-/-/-/-/-/-/-/-/
 */
.flair {

    background: url(%%flairsheet%%) no-repeat -9999px;
    border: 0;
    padding: 0;
    text-indent:-9999px;cursor:help} .flair{background-image:url(%%flairsheet%%)}
.flair{background-color:clear}


.flair-1up {
    width: 21px;
    height: 19px;
    background-position: 0 0;
}

.flair-7minutesdead {
    width: 22px;
    height: 18px;
    background-position: -21px 0;
}

.flair-aaronjackson {
    width: 36px;
    height: 14px;
    background-position: -43px 0;
}

.flair-aerochord {
    width: 19px;
    height: 16px;
    background-position: -79px 0;
}

.flair-agno3 {
    width: 19px;
    height: 18px;
    background-position: -98px 0;
}

.flair-alomasteele {
    width: 55px;
    height: 13px;
    background-position: -117px 0;
}

.flair-anevo {
    width: 45px;
    height: 11px;
    background-position: -172px 0;
}

.flair-annayvette {
    width: 18px;
    height: 19px;
    background-position: -218px 0;
}

.flair-arion {
    width: 15px;
    height: 19px;
    background-position: -235px 0;
}

.flair-aruna {
    width: 47px;
    height: 11px;
    background-position: 0 -19px;
}

.flair-astronaut {
    width: 24px;
    height: 18px;
    background-position: -250px 0;
}

.flair-au5 {
    width: 20px;
    height: 18px;
    background-position: -47px -18px;
}

.flair-augustusghost {
    width: 52px;
    height: 11px;
    background-position: -68px -18px;
}

.flair-azedia {
    width: 21px;
    height: 18px;
    background-position: -119px -18px;
}

.flair-barelyalive {
    width: 29px;
    height: 18px;
    background-position: -140px -18px;
}

.flair-beargrillz {
    width: 32px;
    height: 18px;
    background-position: -169px -18px;
}

.flair-bijou {
    width: 30px;
    height: 14px;
    background-position: -250px -18px;
}

.flair-braken {
    width: 25px;
    height: 18px;
    background-position: 0 -32px;
}

.flair-bustre {
    width: 45px;
    height: 10px;
    background-position: -201px -19px;
}

.flair-candyland {
    width: 47px;
    height: 16px;
    background-position: -67px -29px;
}

.flair-caseandpoint {
    width: 31px;
    height: 18px;
    background-position: -201px -32px;
}

.flair-cassandrakay {
    width: 39px;
    height: 19px;
    background-position: -232px -32px;
}

.flair-charlottehaining {
    width: 12px;
    height: 20px;
    background-position: -26px -31px;
}

.flair-chrisramos {
    width: 25px;
    height: 18px;
    background-position: 0 -51px;
}

.flair-chrisson {
    width: 65px;
    height: 12px;
    background-position: -25px -51px;
}

.flair-colordrive {
    width: 20px;
    height: 18px;
    background-position: -271px -32px;
}

.flair-coma {
    width: 39px;
    height: 8px;
    background-position: -90px -51px;
}

.flair-concept {
    width: 52px;
    height: 9px;
    background-position: -129px -50px;
}

.flair-conro {
    width: 37px;
    height: 17px;
    background-position: -181px -51px;
}

.flair-cozizuehlsdorff {
    width: 54px;
    height: 6px;
    background-position: -218px -51px;
}

.flair-danykanadeau {
    width: 57px;
    height: 7px;
    background-position: -218px -57px;
}

.flair-darrenstyles {
    width: 38px;
    height: 19px;
    background-position: -25px -64px;
}

.flair-dayone {
    width: 23px;
    height: 19px;
    background-position: -63px -64px;
}

.flair-deoncustom {
    width: 30px;
    height: 18px;
    background-position: -86px -64px;
}

.flair-deutgen {
    width: 38px;
    height: 13px;
    background-position: -116px -64px;
}

.flair-didrick {
    width: 23px;
    height: 18px;
    background-position: -154px -64px;
}

.flair-diontimmer {
    width: 44px;
    height: 6px;
    background-position: -218px -64px;
}

.flair-direct {
    width: 19px;
    height: 18px;
    background-position: -262px -64px;
}

.flair-dirtyaudio {
    width: 36px;
    height: 19px;
    background-position: -177px -70px;
}

.flair-dirtyphonics {
    width: 36px;
    height: 15px;
    background-position: -214px -70px;
}

.flair-diskord {
    width: 33px;
    height: 13px;
    background-position: -63px -82px;
}

.flair-dotexe {
    width: 36px;
    height: 18px;
    background-position: -97px -82px;
}

.flair-draper {
    width: 40px;
    height: 10px;
    background-position: -132px -82px;
}

.flair-droeloe {
    width: 57px;
    height: 10px;
    background-position: 0 -85px;
}

.flair-droptek {
    width: 18px;
    height: 18px;
    background-position: -250px -82px;
}

.flair-duumu {
    width: 20px;
    height: 18px;
    background-position: -269px -82px;
}

.flair-dzekoandtorres {
    width: 30px;
    height: 12px;
    background-position: 0 -100px;
}

.flair-eden {
    width: 21px;
    height: 18px;
    background-position: -30px -100px;
}

.flair-elizaveta {
    width: 51px;
    height: 9px;
    background-position: -51px -100px;
}

.flair-emel {
    width: 30px;
    height: 8px;
    background-position: -102px -100px;
}

.flair-eminence {
    width: 21px;
    height: 18px;
    background-position: -132px -100px;
}

.flair-ephixa {
    width: 21px;
    height: 19px;
    background-position: -153px -100px;
}

.flair-existstrategy {
    width: 36px;
    height: 10px;
    background-position: -174px -100px;
}

.flair-falconfunk {
    width: 21px;
    height: 18px;
    background-position: -210px -100px;
}

.flair-faustix {
    width: 37px;
    height: 14px;
    background-position: -231px -100px;
}

.flair-favright {
    width: 44px;
    height: 8px;
    background-position: -51px -114px;
}

.flair-feint {
    width: 14px;
    height: 18px;
    background-position: -274px 0;
}

.flair-fool {
    width: 23px;
    height: 19px;
    background-position: -268px -100px;
}

.flair-fractal {
    width: 15px;
    height: 19px;
    background-position: 0 -119px;
}

.flair-gammer {
    width: 32px;
    height: 19px;
    background-position: -95px -114px;
}

.flair-getter {
    width: 28px;
    height: 9px;
    background-position: -174px -114px;
}

.flair-glacier {
    width: 45px;
    height: 19px;
    background-position: -127px -119px;
}

.flair-goingquantum {
    width: 38px;
    height: 12px;
    background-position: -202px -119px;
}

.flair-goldMember {
    width: 51px;
    height: 22px;
    background-position: -240px -119px;
}

.flair-grabbitz {
    width: 44px;
    height: 15px;
    background-position: 0 -141px;
}

.flair-grant {
    width: 40px;
    height: 7px;
    background-position: -44px -141px;
}

.flair-haywyre {
    width: 43px;
    height: 6px;
    background-position: -84px -141px;
}

.flair-hellberg {
    width: 45px;
    height: 13px;
    background-position: -127px -141px;
}

.flair-highmaintenance {
    width: 32px;
    height: 19px;
    background-position: -172px -141px;
}

.flair-hollydrummond {
    width: 60px;
    height: 9px;
    background-position: -204px -142px;
}

.flair-hotdate {
    width: 31px;
    height: 20px;
    background-position: -44px -153px;
}

.flair-hush {
    width: 39px;
    height: 18px;
    background-position: -75px -153px;
}

.flair-hyperpotions {
    width: 37px;
    height: 16px;
    background-position: -204px -153px;
}

.flair-insan3lik3 {
    width: 20px;
    height: 19px;
    background-position: -16px -119px;
}

.flair-intercom {
    width: 13px;
    height: 19px;
    background-position: -36px -119px;
}

.flair-isabelhiguero {
    width: 21px;
    height: 19px;
    background-position: -264px -142px;
}

.flair-iyffe {
    width: 36px;
    height: 18px;
    background-position: 0 -160px;
}

.flair-jauz {
    width: 23px;
    height: 18px;
    background-position: -114px -160px;
}

.flair-jessimason {
    width: 52px;
    height: 7px;
    background-position: -172px -131px;
}

.flair-jonnyrose {
    width: 47px;
    height: 7px;
    background-position: -137px -160px;
}

.flair-karmafields {
    width: 19px;
    height: 18px;
    background-position: -184px -160px;
}

.flair-karra {
    width: 15px;
    height: 18px;
    background-position: -241px -160px;
}

.flair-kasbo {
    width: 21px;
    height: 17px;
    background-position: -257px -161px;
}

.flair-kayzo {
    width: 44px;
    height: 18px;
    background-position: 0 -178px;
}

.flair-koven {
    width: 47px;
    height: 9px;
    background-position: -44px -178px;
}

.flair-krewella {
    width: 44px;
    height: 15px;
    background-position: -91px -178px;
}

.flair-kuuro {
    width: 50px;
    height: 15px;
    background-position: -136px -177px;
}

.flair-labisch {
    width: 44px;
    height: 8px;
    background-position: -186px -178px;
}

.flair-laszlo {
    width: 14px;
    height: 18px;
    background-position: -278px -160px;
}

.flair-laurabrehm {
    width: 44px;
    height: 18px;
    background-position: -229px -178px;
}

.flair-letsbefriends {
    width: 19px;
    height: 18px;
    background-position: 0 -196px;
}

.flair-loosid {
    width: 23px;
    height: 19px;
    background-position: -19px -196px;
}

.flair-lvther {
    width: 24px;
    height: 19px;
    background-position: -42px -196px;
}

.flair-matduke {
    width: 31px;
    height: 17px;
    background-position: -66px -196px;
}

.flair-mattvan {
    width: 49px;
    height: 10px;
    background-position: -97px -196px;
}

.flair-melano {
    width: 23px;
    height: 17px;
    background-position: -147px -196px;
}

.flair-meronryan {
    width: 50px;
    height: 6px;
    background-position: -169px -196px;
}

.flair-mitchellclaxton {
    width: 45px;
    height: 14px;
    background-position: -219px -196px;
}

.flair-mitis {
    width: 37px;
    height: 10px;
    background-position: -97px -210px;
}

.flair-miu {
    width: 26px;
    height: 6px;
    background-position: -264px -196px;
}

.flair-miyoki {
    width: 22px;
    height: 18px;
    background-position: -169px -202px;
}

.flair-mrfijiwiji {
    width: 19px;
    height: 18px;
    background-position: -191px -202px;
}

.flair-mrvlz {
    width: 34px;
    height: 7px;
    background-position: -210px -210px;
}

.flair-muzzy {
    width: 16px;
    height: 19px;
    background-position: -264px -202px;
}

.flair-mylk {
    width: 47px;
    height: 19px;
    background-position: 0 -221px;
}

.flair-myrne {
    width: 55px;
    height: 12px;
    background-position: -47px -221px;
}

.flair-nanobii {
    width: 45px;
    height: 14px;
    background-position: -102px -221px;
}

.flair-neilio {
    width: 45px;
    height: 12px;
    background-position: -148px -221px;
}

.flair-nigelgood {
    width: 31px;
    height: 19px;
    background-position: -192px -221px;
}

.flair-nitrofun {
    width: 38px;
    height: 18px;
    background-position: -223px -221px;
}

.flair-noisestorm {
    width: 13px;
    height: 18px;
    background-position: -273px -178px;
}

.flair-notaker {
    width: 46px;
    height: 5px;
    background-position: -47px -239px;
}

.flair-obsidia {
    width: 44px;
    height: 7px;
    background-position: -93px -239px;
}

.flair-openwater {
    width: 18px;
    height: 19px;
    background-position: -261px -221px;
}

.flair-orbiter {
    width: 22px;
    height: 19px;
    background-position: 0 -240px;
}

.flair-parkavenue {
    width: 23px;
    height: 18px;
    background-position: -22px -241px;
}

.flair-pegboardnerds {
    width: 24px;
    height: 18px;
    background-position: -138px -240px;
}

.flair-piercefulton {
    width: 30px;
    height: 19px;
    background-position: -161px -240px;
}

.flair-pixl {
    width: 22px;
    height: 17px;
    background-position: -191px -241px;
}

.flair-popeska {
    width: 52px;
    height: 12px;
    background-position: -213px -240px;
}

.flair-poweruser {
    width: 36px;
    height: 19px;
    background-position: -45px -252px;
}

.flair-priorityone {
    width: 30px;
    height: 11px;
    background-position: -81px -252px;
}

.flair-project46 {
    width: 44px;
    height: 7px;
    background-position: -213px -252px;
}

.flair-protostar {
    width: 17px;
    height: 18px;
    background-position: -265px -240px;
}

.flair-puppet {
    width: 48px;
    height: 18px;
    background-position: -111px -259px;
}

.flair-pylot {
    width: 45px;
    height: 10px;
    background-position: 0 -259px;
}

.flair-qaila {
    width: 55px;
    height: 11px;
    background-position: -159px -259px;
}

.flair-quietdisorder {
    width: 30px;
    height: 13px;
    background-position: -257px -258px;
}

.flair-ramesesb {
    width: 29px;
    height: 16px;
    background-position: 0 -271px;
}

.flair-rayceejones {
    width: 26px;
    height: 18px;
    background-position: -29px -271px;
}

.flair-razihel {
    width: 42px;
    height: 7px;
    background-position: -214px -259px;
}

.flair-reach {
    width: 36px;
    height: 14px;
    background-position: -214px -266px;
}

.flair-redmoon {
    width: 22px;
    height: 18px;
    background-position: -56px -271px;
}

.flair-rezonate {
    width: 44px;
    height: 11px;
    background-position: -77px -280px;
}

.flair-ricci {
    width: 40px;
    height: 14px;
    background-position: -159px -271px;
}

.flair-richardcaddock {
    width: 33px;
    height: 15px;
    background-position: -250px -271px;
}

.flair-richedwards {
    width: 25px;
    height: 18px;
    background-position: -288px 0;
}

.flair-riot {
    width: 30px;
    height: 14px;
    background-position: -280px -18px;
}

.flair-rogue {
    width: 18px;
    height: 18px;
    background-position: -291px -32px;
}

.flair-roniit {
    width: 31px;
    height: 17px;
    background-position: -281px -50px;
}

.flair-rootkit {
    width: 47px;
    height: 9px;
    background-position: -121px -286px;
}

.flair-rundfunk {
    width: 36px;
    height: 12px;
    background-position: -280px -203px;
}

.flair-sanholo {
    width: 24px;
    height: 18px;
    background-position: -288px -67px;
}

.flair-savoy {
    width: 47px;
    height: 11px;
    background-position: -168px -286px;
}

.flair-scndl {
    width: 40px;
    height: 17px;
    background-position: -215px -286px;
}

.flair-silverback {
    width: 40px;
    height: 9px;
    background-position: -255px -286px;
}

.flair-sirensceol {
    width: 42px;
    height: 7px;
    background-position: 0 -295px;
}

.flair-skifonix {
    width: 23px;
    height: 18px;
    background-position: -291px -85px;
}

.flair-skyelle {
    width: 27px;
    height: 17px;
    background-position: -285px -141px;
}

.flair-slipsandslurs {
    width: 33px;
    height: 19px;
    background-position: -280px -214px;
}

.flair-slushii {
    width: 39px;
    height: 11px;
    background-position: -42px -295px;
}

.flair-snavs {
    width: 25px;
    height: 12px;
    background-position: -214px -85px;
}

.flair-soulero {
    width: 11px;
    height: 18px;
    background-position: -291px -103px;
}

.flair-soundremedy {
    width: 36px;
    height: 16px;
    background-position: -280px -233px;
}

.flair-soupandreas {
    width: 20px;
    height: 18px;
    background-position: -291px -121px;
}

.flair-splitbreed {
    width: 20px;
    height: 18px;
    background-position: -291px -158px;
}

.flair-stephenwalking {
    width: 35px;
    height: 19px;
    background-position: -313px 0;
}

.flair-stereotronique {
    width: 44px;
    height: 6px;
    background-position: -302px -103px;
}

.flair-stonebank {
    width: 45px;
    height: 13px;
    background-position: -291px -176px;
}

.flair-subtact {
    width: 37px;
    height: 10px;
    background-position: -310px -19px;
}

.flair-summerwasfun {
    width: 22px;
    height: 19px;
    background-position: -310px -29px;
}

.flair-tashabaxter {
    width: 21px;
    height: 19px;
    background-position: -312px -48px;
}

.flair-televisor {
    width: 20px;
    height: 18px;
    background-position: -312px -67px;
}

.flair-teqq {
    width: 20px;
    height: 18px;
    background-position: -314px -85px;
}

.flair-throttle {
    width: 45px;
    height: 16px;
    background-position: -287px -249px;
}

.flair-timmytrumpet {
    width: 36px;
    height: 18px;
    background-position: -311px -109px;
}

.flair-tobygreen {
    width: 27px;
    height: 15px;
    background-position: -312px -127px;
}

.flair-tokyomachine {
    width: 36px;
    height: 18px;
    background-position: -312px -143px;
}

.flair-topi {
    width: 21px;
    height: 18px;
    background-position: -316px -189px;
}

.flair-tristam {
    width: 21px;
    height: 19px;
    background-position: -316px -208px;
}

.flair-trivecta {
    width: 21px;
    height: 18px;
    background-position: -317px -227px;
}

.flair-tuttutchild {
    width: 39px;
    height: 13px;
    background-position: -48px -127px;
}

.flair-tvds {
    width: 45px;
    height: 11px;
    background-position: -287px -265px;
}

.flair-twothirds {
    width: 30px;
    height: 13px;
    background-position: -311px -161px;
}

.flair-tylormaurer {
    width: 22px;
    height: 19px;
    background-position: -295px -276px;
}

.flair-unlikepluto {
    width: 24px;
    height: 17px;
    background-position: -317px -276px;
}

.flair-varien {
    width: 42px;
    height: 9px;
    background-position: -81px -295px;
}

.flair-veela {
    width: 40px;
    height: 7px;
    background-position: -44px -189px;
}

.flair-vicetone {
    width: 57px;
    height: 10px;
    background-position: -255px -295px;
}

.flair-virtualriot {
    width: 31px;
    height: 19px;
    background-position: -317px -293px;
}

.flair-volant {
    width: 17px;
    height: 18px;
    background-position: -332px -29px;
}

.flair-wrld {
    width: 45px;
    height: 15px;
    background-position: -81px -305px;
}

.flair-zerohero {
    width: 70px;
    height: 9px;
    background-position: 0 -312px;
}


/**
 * /-/-/-/-/-/-/-/-/ END USER FLAIRS /-/-/-/-/-/-/-/-/
 */


a.author[href$="/3vans"]::before,
a.author[href$="/Troutz"]::before,
a.author[href$="/EternalHipster"]::before {
    content: "[Mod Alumnus] "
}

a.author[href$="/Numiiigoesrawrz"]::before {
    content: "[Mod Alumna]"
}


