
/**
 * /-/-/-/-/-/-/-/-/-User Flairs-/-/-/-/-/-/-/-/-/
 */
.flair {
    border: none;
    background: url(%%flairsheet%%) no-repeat;
    margin: 0 0 0 2px;
    border-radius: 0;
    cursor: help vertical-align: middle;
    height: 18px;
	width: 42px;
}

/**
 * Supersized flairs for higher res screens
 */
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (-moz-min-device-pixel-ratio:1.5),
only screen and (-o-min-device-pixel-ratio:3/2),
only screen and (min-device-pixel-ratio:1.5) {
    .flair {
        background-image: url(%%flairsheet2x%%)
    }
}


.flair-laurabrehm {
    background-position: -1px -1px;
    width: 41.5px;
}

.flair-aerochord {
    background-position: -44.5px -1px;
    width: 41px;
}

.flair-puppet {
    background-position: -1px -41px;
    height: 17.5px
}


.flair-tuttutchild {
    background-position: -87.5px -21px;
    width: 40.5px;
}

.flair-ramesesb {
    background-position: -87.5px -41px;
    width: 40px;
}

.flair-scndl {
    background-position: -43px -80px;
    width: 38px
}

.flair-throttle {
    background-position: -1px -100px;
    height: 15.5px
}

.flair-richardcaddock {
    background-position: -130px -21px;
    width: 36px;
}

.flair-goingquantum {
    background-position: -89px -117.5px;
    height: 14.5px
}

.flair-atmozfears {
    background-position: -1px -134px;
    height: 14.5px
}

.flair-conro {
    background-position: -130px -61px;
    width: 34px;
}

.flair-dotexe {
    background-position: -168px -1px;
    width: 34px;
}

.flair-hyperpotions {
    background-position: -168px -21px;
    width: 34px
}

.flair-iyffe {
    background-position: -168px -61px;
    width: 33.5px
}

.flair-grabbitz,
.flair-wrld, {
    height: 14px
}

.flair-wrld {
    background-position: -45px -134px
}

.flair-grabbitz {
    background-position: -1px -150.5px
}


.flair-razihel {
    background-position: -168px -101px;
    width: 33px;
}


.flair-stephenwalking {
    background-position: -1px -166.5px;
    width: 33px;
}


.flair-vicetone {
    background-position: -71px -166.5px;
    width: 33px;
}

.flair-1up,
.flair-neilio
.flair-poweruser {
    width: 31.5px;
}

.flair-1up {
    background-position: -141px -166.5px
}

.flair-poweruser {
    background-position: -204px -21px
}

.flair-neilio {
    background-position: -204px -41px
}



.flair-mitchellclaxton {
    background-position: -133px -150.5px;
    height: 13px
}

.flair-slipsandslurs {
    background-position: -204px -81px;
    width: 30.5px;
}

.flair-highmaintenance {
    background-position: -204px -121px;
    width: 29px;
}

.flair-matduke {
    background-position: -204px -141px;
    width: 29px;
}


.flair-matduke-gold {
    background-position: -1px -186.5px;
    width: 29px;
}


.flair-project46 {
    background-position: -76px -186.5px;
    height: 12px
}

.flair-deoncustom {
    background-position: -31.5px -206.5px;
    width: 28.5px
}

.flair-chrisson {
    background-position: -62px -206.5px;
    width: 28.5px;
}

.flair-hotdate {
    background-position: -123px -206.5px;
    width: 28px;
}

.flair-pylot,
.flair-rootkit,
.flair-stonebank,
.flair-varien{
    height: 11.5px
}

.flair-varien {
    background-position: -120px -186.5px
}

.flair-stonebank {
    background-position: -183px -206.5px
}

.flair-rootkit {
    background-position: -237.5px -1px
}

.flair-pylot {
    background-position: -237.5px -41.5px
}

.flair-caseandpoint {
    background-position: -237.5px -88.5px;
    width: 27.5px;
}
.flair-virtualriot {
    background-position: -237.5px -128.5px;
    width: 27.5px
}

.flair-nigelgood {
    background-position: -237.5px -168.5px;
    width: 27.5px
}

.flair-tristam {
    background-position: -237.5px -188.5px;
    width: 26.5px
}

.flair-rezonate {
    background-position: -1px -226.5px;
    height: 10.5px
}

.flair-rezonate-2 {
    background-position: -45px -226.5px;
    height: 10.5px
}

.flair-rezonate-2-gold {
    background-position: -89px -226.5px;
    height: 10.5px
}

.flair-tracksubmit {
    background-position: -1px -239px;
    width: 25px;
}

.flair-bustre,
.flair-draper,
.flair-tvds,{
    height: 10px
}

.flair-tvds {
    background-position: -177px -226.5px
}

.flair-draper {
    background-position: -221px -226.5px
}

.flair-bustre {
    background-position: -116px -239px
}


.flair-braken {
    background-position: -25.5px -259px;
    width: 22.5px
}

.flair-krewella {
    background-position: -160px -239px;
    height: 9px
}

.flair-eminence {
    background-position: -50px -259px;
    width: 22px;
}

.flair-richedwards {
    background-position: -74px -259px;
    width: 22px;
}

.flair-chrisramos {
    background-position: -170px -259px;
    width: 22px;
}

.flair-pegboardnerds {
    background-position: -217px -259px;
    width: 21px;
    height: 18px
}

.flair-overwerk {
    background-position: -281.5px -1px;
    width: 21px
}
.flair-astronaut {
    background-position: -281.5px -41px;
    width: 21px
}

.flair-didrick,
.flair-grantbowtie,
.flair-haywyre,
.flair-lvther,
.flair-sanholo,
.flair-skifonix,{
    width: 20.5px;
    height: 18px
}

.flair-didrick {
    background-position: -281.5px -81px
}

.flair-sanholo {
    background-position: -281.5px -121px
}

.flair-skifonix {
    background-position: -281.5px -181px
}

.flair-lvther {
    background-position: -281.5px -201px
}


.flair-grantbowtie {
    background-position: -281.5px -241px
}


.flair-haywyre {
    background-position: -23.5px -279px
}

.flair-labisch {
    background-position: -46px -279px;
    height: 8px
}

.flair-fool {
    background-position: -304.5px -1px;
    width: 20px
}



.flair-nitrofun {
    background-position: -134px -279px;
    height: 8px
}


.flair-rundfunk {
    background-position: -304.5px -41px;
    width: 19.5px;
}

.flair-dayone {
    background-position: -304.5px -61px;
    width: 19.5px;
}

.flair-7minutesdead {
    background-position: -304.5px -81px;
    width: 19.5px;
}

.flair-redmoon {
    background-position: -304.5px -121px;
    width: 19.5px;
}

.flair-summerwasfun {
    background-position: -304.5px -201px;
    width: 19px;
}

.flair-trivecta {
    background-position: -304.5px -261px;
    width: 19px;
}


.flair-favright {
    background-position: -46px -289px;
    height: 7.5px
}

.flair-azedia,
.flair-ephixa,
.flair-falconfunk,
.flair-pixl,
.flair-soundremedy,{
    width: 18.5px;
    height: 18px
}

.flair-azedia {
    background-position: -62.5px -299px
}

.flair-pixl {
    background-position: -103.5px -299px
}

.flair-falconfunk {
    background-position: -124px -299px
}

.flair-soundremedy {
    background-position: -144.5px -299px
}

.flair-ephixa {
    background-position: -165px -299px
}

.flair-badkitty,
.flair-eden,
.flair-kasbo,
.flair-snavs,
.flair-splitbreed,
.flair-subtact,
.flair-televisor,
.flair-tristam-2,
.flair-twothirds,{
    width: 19px;
}

.flair-kasbo {
    background-position: -206px -299px
}

.flair-badkitty {
    background-position: -246px -299px
}

.flair-twothirds {
    background-position: -306px -299px
}

.flair-televisor {
    background-position: -326.5px -1px
}

.flair-snavs {
    background-position: -326.5px -41px
}

.flair-tristam-2 {
    background-position: -326.5px -81px
}

.flair-eden {
    background-position: -326.5px -101px
}

.flair-splitbreed {
    background-position: -326.5px -161px
}

.flair-subtact {
    background-position: -326.5px -181px
}

.flair-hellberg {
    background-position: -90px -289px;
    height: 7px
}

.flair-au5,
.flair-teqq {
    width: 18px;
}


.flair-teqq {
    background-position: -326.5px -221px
}


.flair-au5 {
    background-position: -326.5px -261px
}

.flair-obsidia {
    background-position: -178px -289px;
    height: 6.5px
}

.flair-agno3,
.flair-direct,
.flair-letsbefriends,
.flair-volant{
    width: 16.5px
}

.flair-volant {
    background-position: -326.5px -281px
}

.flair-direct {
    background-position: -1px -319px
}

.flair-agno3 {
    background-position: -38px -319px
}

.flair-letsbefriends {
    background-position: -56.5px -319px
}

.flair-insan3lik3,
.flair-mcat,
.flair-mrfijiwiji,
.flair-rogue {
    width: 16px;
}

.flair-rogue {
    background-position: -112px -319px
}

.flair-mcat {
    background-position: -166px -319px
}

.flair-insan3lik3 {
    background-position: -184px -319px
}

.flair-mrfijiwiji {
    background-position: -202px -319px
}

.flair-karmafields {
    background-position: -255.5px -319px;
    width: 15.5px;
}

.flair-stereotronique {
    background-position: -28px -251px;
    height: 5.5px
}

.flair-arion,
.flair-fractal{
    width: 12px
}

.flair-droptek {
    background-position: -289.5px -319px;
    width: 14.5px
}




.flair-arion {
    background-position: -267px -128.5px
}

.flair-fractal {
    background-position: -267px -148.5px
}

.flair-protostar {
    background-position: -267px -168.5px;
    width: 12px;
}

.flair-feint,
.flair-laszlo {
    width: 11.5px;
}


.flair-feint {
    background-position: -306px -319px
}


.flair-laszlo {
    background-position: -333px -319px
}

.flair-nanobii {
    background-position: -346.5px -1px;
    width: 10px;
}

.flair-noisestorm {
    background-position: -346.5px -61px;
    width: 9.5px;
}

.flair-muzzy {
    width: 12px;
}

.flair-soulero {
    width: 9px;
}

.flair-soulero {
    background-position: -346.5px -121px
}

.flair-muzzy {
    background-position: -346.5px -141px
}

.flair-monstercat {
    background-position: -267px -278px;
    width: 12px;
    height: 20px
}

.flair-annayvette {
    background-position: -296px -378px;
    width: 12px;
    height: 17px
}

.flair-anevo {
    background-position: -317px -344px;
    width: 37px;
    height: 10px
}

.flair-candyland {
    background-position: 0 -376px;
    width: 46px;
    height: 17px
}

.flair-directnew {
    background-position: -1px -358px;
    width: 16px;
    height: 17px
}

.flair-dirtyaudio {
    background-position: -169px -412px;
    width: 33px;
    height: 17px
}

.flair-drapernew {
    background-position: -135px -378px;
    width: 52px;
    height: 14px
}

.flair-glacier {
    background-position: -98.5px -376.5px;
    width: 17px;
    height: 17px
}

.flair-haywyrenew {
    background-position: -230px -360px;
    width: 48px;
    height: 8px
}

.flair-hellbergnew {
    background-position: -121px -395px;
    width: 52px;
    height: 16px
}

.flair-hush {
    background-position: -283px -395px;
    width: 36px;
    height: 16px
}
.flair-karmafields2 {
    background-position: -45.6px -61.6px;
    width: 53px;
}

.flair-koven {
    background-position: -233px -414px;
    width: 51px;
    height: 10px
}

.flair-loosid {
    background-position: -264px -341px;
    width: 18px;
}

.flair-marshmello {
    background-position: 0 -411px;
    width: 29px;
    height: 16px
}

.flair-melano {
    background-position: -223px -341px;
    width: 20px;
}

.flair-notaker {
    background-position: -130px -346px;
    width: 47px;
    height: 9px
}

.flair-project46new {
    background-position: 0 -394px;
    width: 60px;
    height: 13px
}

.flair-ramesesbnew {
    background-position: -245px -377px;
    width: 23px;
}

.flair-razihelnew {
    background-position: -279px -360px;
    width: 35px;
    height: 6px
}

.flair-richedwardsnew {
    background-position: -227px -395px;
    width: 28px;
    height: 16px
}

.flair-rootkitnew {
    background-position: -132px -359px;
    width: 47px;
    height: 10px
}


.flair-slushii {
    background-position: -60px -411px;
    width: 54px;
    height: 16px
}

.flair-soupandreas {
    background-position: -325px -375px;
    width: 16px;
    height: 18px
}

.flair-tokyomachine {
    background-position: 0 -341px;
    width: 28px;
    height: 16px
}

.flair-topi {
    background-position: -99px -341px;
    width: 17px;
    height: 17px
}

.flair-tuttutchildnew {
    background-position: -34px -358px;
    width: 48px;
    height: 17px
}

.flair-unlikepluto {
    background-position: -56px -341px;
    width: 22px;
    height: 17px
}

.flair-grant {
    background-position: -90px -104px;
    width: 43px;
    height: 8px
}

.res .RESUserTagImage {
    vertical-align: baseline
}

.flair {
    background-size: 358px 435px!important;
    padding: 1px!important;
    vertical-align: middle
}

.flair:before {
    content: normal
}

.flair-goldMember {
    text-indent: 0;
    font-size: 10px;
    background: #fff;
    padding: 1px 5px 1px 22px!important;
    width: auto;
    height: auto;
    color: #B79C1F;
    border: 1px solid #B79C1F;
    border-radius: 3px;
    position: relative;
    line-height: 18px
}

.flair-goldMember:before {
    background: url(%%flairsheet%%) -204px -21px no-repeat;
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    background-size: 358px 435px!important;
    width: 14.5px;
    height: 18px
}

/**
 * /-/-/-/-/-/-/-/-/ END USER FLAIRS /-/-/-/-/-/-/-/-/
 */


a.author[href$="/3vans"]::before,
a.author[href$="/Troutz"]::before,
a.author[href$="/EternalHipster"]::before {
    content: "[Mod Alumnus] "
}

a.author[href$="/Numiiigoesrawrz"]::before {
    content: "[Mod Alumna]"
}


