
/**
 * Set the header text to show the "Monstercat" logo text 
 */

#header .pagename a {
    height: 42px;
    width: 320px;
    background-image: url(%%logo%%);
    background-repeat: no-repeat;
    background-size: auto 42px;
    font-size: 0px;
}

/**
 * Move the Monstercat logo up 
 */
#header span.redditname {
    margin-top: -15px;
    position: absolute
}

/* Snoo Thing */

#header-img,
#header-img.default-header {
    background: url(%%snoo%%) no-repeat;
    background-size: contain;
    height: 93px;
    margin-top: -40px;
    width: 69px
}

#header-img.default-header:hover,
#header-img:hover {
    background: url(%%snoo3%%) no-repeat;
    height: 76px width: 69px
}

#header {
    height: 197px
}

div#header-bottom-left {
    margin-top: -10px;
}

/* Change text colors in the header to gray */
div#sr-header-area * {
    color: #525252 !important;
}

#header .tabmenu {
    margin-top: 22px;
}
