
 /* Change the flair colors for the mods
 */
body.moderator .flairselector .linkflair-futurebass .linkflairlabel {
    color: #4652ff!important
}

body.moderator .flairselector .linkflair-trap.linkflairlabel {
    color: #700c20!important
}

body.moderator .flairselector .linkflair-dubstep.linkflairlabel {
    color: #7713be!important
}

body.moderator .flairselector .linkflair-electro .linkflairlabel {
    color: #b7a500!important
}

body.moderator .flairselector .linkflair-house .linkflairlabel {
    color: #bc6800!important
}

body.moderator .flairselector .linkflair-harddance .linkflairlabel {
    color: #007800!important
}

body.moderator .flairselector .linkflair-glitchhop .linkflairlabel {
    color: #087844!important
}

body.moderator .flairselector .linkflair-drumbass .linkflairlabel {
    color: #cc1400!important
}

body.moderator .flairselector .linkflair-drumstep .linkflairlabel {
    color: #cb0e6c!important
}

body.moderator .flairselector .linkflair-trance .linkflairlabel {
    color: #0066b8!important
}

body.moderator .flairselector .linkflair-nudisco .linkflairlabel {
    color: #128a8d!important
}

body.moderator .flairselector .linkflair-edm .linkflairlabel {
    color: #9a9a9a!important
}

/**
 * Change flair color for the mods in the selector 
 */
body.moderator .flairselector .linkflair-album .linkflairlabel,
body.moderator .flairselector .linkflair-ama .linkflairlabel,
body.moderator .flairselector .linkflair-ep .linkflairlabel,
body.moderator .flairselector .linkflair-lp .linkflairlabel,
body.moderator .flairselector .linkflair-podcast .linkflairlabel,
body.moderator .flairselector .linkflair-remixcomp .linkflairlabel {
    color: #333!important
}

/** 
 * Make the spoiler flair red in the link selector
 */
.linkflair-spoiler .linkflairlabel {
    color: #fff!important;
    background-color: #dc161a!important
}

/**
 * Hide Spoiler Title
 */
html:lang(ns) .linkflair-spoiler a.title,
html:lang(vs) .linkflair-spoiler a.title {
    background: #000;
    color: #000;
    transition: background .15s ease
}

/**
 * Hide Spoiler Thumbnail
 */
html:lang(ns) .linkflair-spoiler .thumbnail,
html:lang(vs) .linkflair-spoiler .thumbnail {
    background: #000;
    transition: background .15s ease
}

/**
 * Make spoiler thumbnail invisible
 */
html:lang(ns) .linkflair-spoiler .thumbnail img,
html:lang(vs) .linkflair-spoiler .thumbnail img {
    opacity: 0;
    transition: opacity .15s ease
}

/**
 * Transition time on spoiler stuff
 */
html:lang(ns) .linkflair-spoiler .thumbnail,
html:lang(ns) .linkflair-spoiler .thumbnail img,
html:lang(ns) .linkflair-spoiler a.title,
html:lang(vs) .linkflair-spoiler .thumbnail,
html:lang(vs) .linkflair-spoiler .thumbnail img,
html:lang(vs) .linkflair-spoiler a.title {
    transition-delay: .3s
}

html:lang(ns) .linkflair-spoiler:hover .thumbnail,
html:lang(ns) .linkflair-spoiler:hover a.title,
html:lang(vs) .linkflair-spoiler:hover .thumbnail,
html:lang(vs) .linkflair-spoiler:hover a.title {
    background: 0 0
}

html:lang(ns) .linkflair-spoiler:hover .thumbnail img,
html:lang(vs) .linkflair-spoiler:hover .thumbnail img {
    opacity: 1
}

/**
 * Change flair text color for stickied link flairs
 */
.linkflair-futurebass.stickied .linkflairlabel {
    color: #4652ff!important
}

.linkflair-trap.stickied .linkflairlabel {
    color: #700c20!important
}

.linkflair-dubstep.stickied .linkflairlabel {
    color: #7713be!important
}

.linkflair-electro.stickied .linkflairlabel {
    color: #b7a500!important
}

.linkflair-house.stickied .linkflairlabel {
    color: #bc6800!important
}

.linkflair-harddance.stickied .linkflairlabel {
    color: #007800!important
}

.linkflair-glitchhop.stickied .linkflairlabel {
    color: #087844!important
}

.linkflair-drumbass.stickied .linkflairlabel {
    color: #cc1400!important
}

.linkflair-drumstep.stickied .linkflairlabel {
    color: #cb0e6c!important
}

.linkflair-trance.stickied .linkflairlabel {
    color: #0066b8!important
}

.linkflair-nudisco.stickied .linkflairlabel {
    color: #128a8d!important
}

.linkflair-edm.stickied .linkflairlabel {
    color: #9a9a9a!important
}

.linkflair-album.stickied .linkflairlabel,
.linkflair-ama.stickied .linkflairlabel,
.linkflair-ep.stickied .linkflairlabel,
.linkflair-lp.stickied .linkflairlabel,
.linkflair-podcast.stickied .linkflairlabel,
.linkflair-remixcomp.stickied .linkflairlabel {
    color: #333!important
}

.linkflair .linkflairlabel {
    color: #333
}

/**
 * Change the flair box color itself to white 
 */
.linkflair-album.stickied .linkflairlabel .linkflair-podcast.stickied .linkflairlabel .linkflair-drumbass.stickied .linkflairlabel,
.linkflair-ama.stickied .linkflairlabel,
.linkflair-drumstep.stickied .linkflairlabel,
.linkflair-dubstep.stickied .linkflairlabel,
.linkflair-edm.stickied .linkflairlabel,
.linkflair-electro.stickied .linkflairlabel,
.linkflair-ep.stickied .linkflairlabel,
.linkflair-futurebass.stickied .linkflairlabel,
.linkflair-glitchhop.stickied .linkflairlabel,
.linkflair-harddance.stickied .linkflairlabel,
.linkflair-house.stickied .linkflairlabel,
.linkflair-lp.stickied .linkflairlabel,
.linkflair-nudisco.stickied .linkflairlabel,
.linkflair-remixcomp.stickied .linkflairlabel,
.linkflair-trance.stickied .linkflairlabel,
.linkflair-trap.stickied .linkflairlabel {
    background: #fff
}
/**
 * Added custom thumbnails to megathreads
 */
.linkflair-remixcomp.stickied .thumbnail.self {
    background: url(%%monstercatflair%%)
}

.linkflair-ama.stickied .thumbnail.self {
    background: url(%%AMA%%)
}

.linkflair-album.stickied .thumbnail.self,
.linkflair-ep.stickied .thumbnail.self,
.linkflair-lp.stickied .thumbnail.self {
    background: url(%%monstercatflair%%)
}

.linkflair-podcast.stickied .thumbnail.self {
    background: url(%%podcast%%)
}

.linkflair-drumbass.stickied .thumbnail.self {
    background: url(%%dnb%%)
}

.linkflair-drumstep.stickied .thumbnail.self {
    background: url(%%drumstep%%)
}

.linkflair-dubstep.stickied .thumbnail.self {
    background: url(%%dubstep%%)
}

.linkflair-edm.stickied .thumbnail.self {
    background: url(%%edm%%)
}

.linkflair-electro.stickied .thumbnail.self {
    background: url(%%electro%%)
}

.linkflair-futurebass.stickied .thumbnail.self {
    background: url(%%futurebass%%)
}

.linkflair-glitchhop.stickied .thumbnail.self {
    background: url(%%glitchhop%%)
}

.linkflair-harddance.stickied .thumbnail.self {
    background: url(%%harddance%%)
}

.linkflair-house.stickied .thumbnail.self {
    background: url(%%house%%)
}

.linkflair-nudisco.stickied .thumbnail.self {
    background: url(%%nudisco%%)
}

.linkflair-trance.stickied .thumbnail.self {
    background: url(%%trance%%)
}

.linkflair-trap.stickied .thumbnail.self {
    background: url(%%trap%%)
}

/**
 * Colors
 */
 
 .link.linkflair-drumbass.stickied {
    background-color: rgba(255, 0, 0, 0.18);
}

.link.linkflair-drumstep.stickied,
.link.linkflair-dubstep.stickied {
    background-color: rgba(253, 116, 181, 0.23);
}

.link.linkflair-futurebass.stickied {
    background-color: rgba(218, 116, 253, 0.23);
}

.link.linkflair-glitchhop.stickied {
    background-color: rgba(116, 253, 169, 0.23);
}

.link.linkflair-house.stickied {
    background-color: rgba(253, 184, 116, 0.23);
}

.link.linkflair-nudisco.stickied {
    background-color: rgba(116, 253, 241, 0.23);
}

.link.linkflair-trance.stickied {
    background-color: rgba(95, 153, 207, 0.24);
}

.link.linkflair-trap.stickied {
    background-color: rgba(207, 95, 125, 0.24);
}

.link.linkflair-electro.stickied {
    background-color: rgba(226, 217, 4, 0.24);
}

.link.linkflair-electro.stickied {
    background-color: rgba(226, 217, 4, 0.23);
}

.link.linkflair-edm.stickied {
    background-color: rgba(194, 193, 194, 0.24);
}
.link.linkflair-remixcomp.stickied {
    background-color: rgba(134, 210, 255, 0.32);
}

/**
 * Dont show link flair options to non-mods
 */


body:not(.moderator) .flairoptionpane .linkflair-album,
body:not(.moderator) .flairoptionpane .linkflair-ama,
body:not(.moderator) .flairoptionpane .linkflair-drumbass,
body:not(.moderator) .flairoptionpane .linkflair-drumstep,
body:not(.moderator) .flairoptionpane .linkflair-dubstep,
body:not(.moderator) .flairoptionpane .linkflair-edm,
body:not(.moderator) .flairoptionpane .linkflair-electro,
body:not(.moderator) .flairoptionpane .linkflair-ep,
body:not(.moderator) .flairoptionpane .linkflair-futurebass,
body:not(.moderator) .flairoptionpane .linkflair-glitchhop,
body:not(.moderator) .flairoptionpane .linkflair-harddance,
body:not(.moderator) .flairoptionpane .linkflair-house,
body:not(.moderator) .flairoptionpane .linkflair-lp,
body:not(.moderator) .flairoptionpane .linkflair-nudisco,
body:not(.moderator) .flairoptionpane .linkflair-podcast,
body:not(.moderator) .flairoptionpane .linkflair-remixcomp,
body:not(.moderator) .flairoptionpane .linkflair-trance,
body:not(.moderator) .flairoptionpane .linkflair-trap,
body:not(.moderator) .linkflair-album:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-ama:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-drumbass:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-drumstep:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-dubstep:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-edm:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-electro:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-ep:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-futurebass:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-glitchhop:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-harddance:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-house:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-lp:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-nudisco:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-podcast:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-remixcomp:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-trance:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-trap:not(.stickied) .linkflairlabel {
    display: none
}

span.linkflairlabel {
    background-color: white !important
}

/* Expand stickied colors to full size */

.link.stickied {
    left: -16px;
    margin-right: -32px;
    padding-left: 16px;
    background-color: rgba(0,0,0,0.04);
    border: none;
}
