

/**
 * Downvote Message
 */
.arrow.down:after {
    content: "For content that does not contribute to any discussion."
}

/**
 * Subscriber Message
 */
div.titlebox span.number:after {
    content: " HARDCORE MEMBERS"
}

/**
 * Active Users Message
 */
.titlebox .users-online .number:after {
    content: " powerusers online"
}

/**
 * Spoiler Text Hiding
 */
a[href="/s"],
a[href="#s"] {
    font-size: 0;
    visibility: hidden;
    cursor: default;
    display: inline-block
}

a[href="/s"]::after,
a[href="#s"]::after {
    content: attr(title);
    background: #000;
    color: #000;
    font-size: small;
    visibility: visible
}
/**
 * Show spoiler text on hover
 */
a[href="/s"]:active::after,
a[href="/s"]:hover::after,
a[href="#s"]:active::after,
a[href="#s"]:hover::after {
    color: #000;
    background: 0 0;
    text-decoration: none;
    font-size: small
}

/** 
 * Change the Global Font
 */
* {
    font-family: Roboto, "San Francisco Display", "Helvetica Neue", Arial, Verdana!important
}

 
.sidecontentbox a.helplink {
    text-transform: uppercase;
    margin-right: 3.2px;
    margin-bottom: 15px;
    width: 98%;
    background-color: #1d6fa9;
    border: none;
    border-radius: 2px;
    color: #fff!important;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    font-family: Arial, sans-serif;
    line-height: 30px;
    transition: .25s ease
}


.sidecontentbox a.helplink:hover {
    background-color: #0d5487;
    text-decoration: none
}

.sidecontentbox a.helplink:active {
    background-color: #0a79cc
}



body:not(.moderator) .flairoptionpane .linkflair-album,
body:not(.moderator) .flairoptionpane .linkflair-ama,
body:not(.moderator) .flairoptionpane .linkflair-drumbass,
body:not(.moderator) .flairoptionpane .linkflair-drumstep,
body:not(.moderator) .flairoptionpane .linkflair-dubstep,
body:not(.moderator) .flairoptionpane .linkflair-edm,
body:not(.moderator) .flairoptionpane .linkflair-electro,
body:not(.moderator) .flairoptionpane .linkflair-ep,
body:not(.moderator) .flairoptionpane .linkflair-futurebass,
body:not(.moderator) .flairoptionpane .linkflair-glitchhop,
body:not(.moderator) .flairoptionpane .linkflair-harddance,
body:not(.moderator) .flairoptionpane .linkflair-house,
body:not(.moderator) .flairoptionpane .linkflair-lp,
body:not(.moderator) .flairoptionpane .linkflair-nudisco,
body:not(.moderator) .flairoptionpane .linkflair-podcast,
body:not(.moderator) .flairoptionpane .linkflair-remixcomp,
body:not(.moderator) .flairoptionpane .linkflair-trance,
body:not(.moderator) .flairoptionpane .linkflair-trap,
body:not(.moderator) .linkflair-album:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-ama:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-drumbass:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-drumstep:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-dubstep:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-edm:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-electro:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-ep:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-futurebass:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-glitchhop:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-harddance:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-house:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-lp:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-nudisco:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-podcast:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-remixcomp:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-trance:not(.stickied) .linkflairlabel,
body:not(.moderator) .linkflair-trap:not(.stickied) .linkflairlabel {
    display: none
}


span.linkflairlabel {
    background-color: white !important
}

.flairselector {
    position: fixed;
    top: 20%!important;
    left: 41%!important;
    margin-left: -125px;
    padding: 16px!important;
    width: 504px!important;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .12)
}



div#srLeftContainer a {
    color: rgba(0, 0, 0, 0.65) !important
}

#header .tabmenu li.selected a {
    font-weight: bold
}



#header .tabmenu:before {
    background-color: rgba(0, 0, 0, 0.16)
}



