

/**
 * Downvote Message
 */
.arrow.down:after {
    content: "For content that does not contribute to any discussion."
}

/**
 * Subscriber Message
 */
div.titlebox span.number:after {
    content: " HARDCORE MEMBERS"
}

/**
 * Active Users Message
 */
.titlebox .users-online .number:after {
    content: " powerusers online"
}

/**
 * Spoiler Text Hiding
 */
a[href="/s"],
a[href="#s"] {
    font-size: 0;
    visibility: hidden;
    cursor: default;
    display: inline-block
}

a[href="/s"]::after,
a[href="#s"]::after {
    content: attr(title);
    background: #000;
    color: #000;
    font-size: small;
    visibility: visible
}
/**
 * Show spoiler text on hover
 */
a[href="/s"]:active::after,
a[href="/s"]:hover::after,
a[href="#s"]:active::after,
a[href="#s"]:hover::after {
    color: #000;
    background: 0 0;
    text-decoration: none;
    font-size: small
}

/** 
 * Change the Global Font
 */
* {
    font-family: Roboto, "San Francisco Display", "Helvetica Neue", Arial, Verdana!important
}

 
.sidecontentbox a.helplink {
    text-transform: uppercase;
    margin-right: 3.2px;
    margin-bottom: 15px;
    width: 98%;
    background-color: #1d6fa9;
    border: none;
    border-radius: 2px;
    color: #fff!important;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    font-family: Arial, sans-serif;
    line-height: 30px;
    transition: .25s ease
}


.sidecontentbox a.helplink:hover {
    background-color: #0d5487;
    text-decoration: none
}

.sidecontentbox a.helplink:active {
    background-color: #0a79cc
}






.flairselector {
    position: fixed;
    top: 20%!important;
    left: 41%!important;
    margin-left: -125px;
    padding: 16px!important;
    width: 504px!important;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .12)
}



div#srLeftContainer a {
    color: rgba(0, 0, 0, 0.65) !important
}

#header .tabmenu li.selected a {
    font-weight: bold
}



#header .tabmenu:before {
    background-color: rgba(0, 0, 0, 0.16)
}

/**
 * Downvote Message
 */
.arrow.down:after {
    content: "For content that does not contribute to any discussion."
}

/**
 * Subscriber Message
 */
div.titlebox span.number:after {
    content: " HARDCORE MEMBERS"
}

/**
 * Active Users Message
 */
.titlebox .users-online .number:after {
    content: " powerusers online"
}

/**
 * Spoiler Text Hiding
 */
a[href="/s"],
a[href="#s"] {
    font-size: 0;
    visibility: hidden;
    cursor: default;
    display: inline-block
}

a[href="/s"]::after,
a[href="#s"]::after {
    content: attr(title);
    background: #000;
    color: #000;
    font-size: small;
    visibility: visible
}
/**
 * Show spoiler text on hover
 */
a[href="/s"]:active::after,
a[href="/s"]:hover::after,
a[href="#s"]:active::after,
a[href="#s"]:hover::after {
    color: #000;
    background: 0 0;
    text-decoration: none;
    font-size: small
}

/** 
 * Change the Global Font
 */
* {
    font-family: Roboto, "San Francisco Display", "Helvetica Neue", Arial, Verdana!important
}

 
.sidecontentbox a.helplink {
    text-transform: uppercase;
    margin-right: 3.2px;
    margin-bottom: 15px;
    width: 98%;
    background-color: #1d6fa9;
    border: none;
    border-radius: 2px;
    color: #fff!important;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    font-family: Arial, sans-serif;
    line-height: 30px;
    transition: .25s ease
}


.sidecontentbox a.helplink:hover {
    background-color: #0d5487;
    text-decoration: none
}

.sidecontentbox a.helplink:active {
    background-color: #0a79cc
}

span.linkflairlabel {
    background-color: white !important
}

.flairselector {
    position: fixed;
    top: 20%!important;
    left: 41%!important;
    margin-left: -125px;
    padding: 16px!important;
    width: 504px!important;
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .12)
}



div#srLeftContainer a {
    color: rgba(0, 0, 0, 0.65) !important
}

#header .tabmenu li.selected a {
    font-weight: bold
}

#header .tabmenu:before {
    background-color: rgba(0, 0, 0, 0.16)
}

.thumbnail.spoiler {
    background: url(%%dnb%%);
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-right: 26px;
}

/**
 * Remove footer
 */
.footer-parent{height:800px;margin-top:192px;padding:528px 0 64px;background-image:url(%%footer%%);background-repeat:no-repeat;background-position:50% 0;background-size:cover}.footer{border:0 solid;border-radius:2px;background-color:rgba(43, 51, 58, 0.64);padding:16px;max-width:640px}.footer .col{padding:0 24px;border:none}.flat-vert.title,.bottommenu a{color:rgba(255,255,255,0.7)}.bottommenu{color:rgba(255,255,255,0.42)}

