
.side .md blockquote:last-of-type p {
    top: 132px;
    right: 352px;
    position: absolute;
    z-index: 1000;
    display: flex
}

.side .md blockquote:last-of-type p a {
    margin-top: 25px;
    margin-left: 5px;
    font-size: 0px
}

.side .md blockquote:last-of-type p a {
    transition: color 0s linear 0.1s, max-width .5s ease, min-width .2s ease;
    background-size: 20px, 20px;
    max-width: 29px;
    height: 29px;
    color: transparent;
    top: 160px;
    right: 352px;
    z-index: 100;
    border: 1px solid rgba(41, 47, 52, 0.17);
    background-position: 4px, 10px;
    border-radius: 6px;
    background-repeat: no-repeat;
    text-indent: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(169, 201, 234, 0.12);
    min-width: 29px
}

.side .md blockquote:last-of-type p a:hover {
    transition: color 0s linear .3s, max-width .6s, min-width .6s ease;
    max-width: 115px;
    color: #747373;
    background-color: rgba(169, 201, 234, 0.24);
    width: auto;
    padding: 0 10px;
    font-size: 13px;
    min-width: 70px
}

.side .md blockquote:last-of-type p a:nth-of-type(1) {
    background-image: url(%%mcaticon%%)
}

.md blockquote:last-of-type p a:nth-of-type(2) {
    background-image: url(%%twitterlogo%%)
}

.side .md blockquote:last-of-type p a:nth-of-type(3) {
    background-image: url(%%yticon%%)
}

.side .md blockquote:last-of-type p a:nth-of-type(4) {
    background-image: url(%%scicon%%)
}

.side .md blockquote:last-of-type p a:nth-of-type(5) {
    background-image: url(%%tcicon%%)
}

.side .md blockquote:last-of-type p a:nth-of-type(6) {
    background-image: url(%%fbicon%%)
}

.side .md blockquote:last-of-type p a:nth-of-type(7) {
    background-image: url(%%dcicon%%)
}

.side .md blockquote:last-of-type p a:nth-of-type(8) {
    background-image: url(%%mxicon%%);
    background-position: 4px;
    display: none
}

.side .md blockquote:last-of-type p a:nth-of-type(9) {
    background-image: url(%%tbicon%%)
}

/* Hide Icons after certain point */
@media (max-device-width: 1242px),
(max-width: 1242px) {
    .side .md blockquote:last-of-type p {
        display: none !important
    }
}

.search-page .side .md blockquote:last-of-type, .search-page .side .md blockquote:last-of-type * {
    display:none
}
