
.md table:nth-of-type(1) {
    max-height: 41px;
    overflow: hidden;
    display: block;
    text-align: center;
    transition: max-height 1s ease 0s
}

.md table:nth-of-type(1) th {
    text-align: center;
    border: 2px solid #1d6fa9
}

.md table:nth-of-type(1):hover {
    max-height: 1100px;
    transition: max-height 1s ease 0s
}

.md table:nth-of-type(1) tbody {
    background-color: rgba(29, 111, 169, 0.09)
}

.md .-cells,
.md pre,
.md td,
.md th {
    padding: 10px 9px
}

.md table:nth-of-type(1) th:after {
    content: ' (Hover) '
}
